// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: $canvas;
}

body{
  @include sans;
  color: $neutralDefault;
  font-size: $body-font-size;
  line-height: 2;
  position: relative;
  z-index: 3;
  @include media_mobile {
    zoom: 0.875;
  }
}

a {
  color: $primaryDefault;
  &[target="_blank"] {
    &:after {
      font-family: "Material Symbols Rounded";
      font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' -25,
        'opsz' 24;
      content: "\e89e";
      margin-left: 0.125rem;
      zoom: 0.75;
      vertical-align: top;
    }
  }
  &:hover {
    text-decoration:none;
  }
}

.wrapper {
  @include media_larger_than_mobile {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  @include media_mobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  display: grid;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr)
    [breakout-start] minmax(0, 15rem)
    [content-start] min(40rem, 100% - 4rem) [content-end]
    minmax(0, 15rem) [breakout-end]
    minmax(2rem, 1fr) [full-end];
  > * {
    grid-column: content;
  }
  .breakout {
    grid-column: breakout;
    width: 100%;
  }
}

// clearfix (now called group,
// via http://css-tricks.com/snippets/css/clear-fix/)
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

::-moz-selection {
    background: $primaryDefault;
    color: $neutralDefaultDark;
    text-shadow: none;
}
::selection {
    background: $primaryDefault;
    color: $neutralDefaultDark;
    text-shadow: none;
}
