// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  &:after {
    display: block;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $black;
    background-image: url("/images/body_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
  }
}

body{
  @include sans;
  backdrop-filter: blur(8rem) brightness(33%) contrast(66%) saturate(200%);
  -webkit-backdrop-filter: blur(8rem) brightness(33%) contrast(66%) saturate(200%);
  color: $text_color;
  font-size: $body-font-size;
  line-height: 2;
  position: relative;
  z-index: 3;
  @include media_mobile {
    zoom: 0.875;
  }
}

a {
  color: $text_color;
  &[target="_blank"] {
    &:after {
      font-family: "Material Symbols Rounded";
      font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' -25,
        'opsz' 24;
      content: "\e89e";
      margin-left: 0.125rem;
      zoom: 0.75;
      vertical-align: top;
    }
  }
  &:hover {
    text-decoration:none;
  }
}

.wrapper:before,
.wrapper:after { content:""; display:table; }
.wrapper:after { clear: both; }
.wrapper {
  @include media_larger_than_mobile {
    padding: 4rem 2rem;
  }
  @include media_mobile {
    padding: 2rem;
  }
  max-width: 45rem;
  margin: 0 auto;
  zoom: 1;
}

// clearfix (now called group,
// via http://css-tricks.com/snippets/css/clear-fix/)
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

::-moz-selection {
    background: rgba(51,51,51,.8);
    color: #fff;
    text-shadow: none;
}
::selection {
    background: rgba(51,51,51,.8);
    color: #fff;
    text-shadow: none;
}
