// Resume styles
// ---------------------------------------/

// util

.section-header {
  margin-bottom: 1.5rem;

  h2 {
    @include sans_light;
    font-size: 2rem;
    letter-spacing: 0.125rem;
    margin: 0 0 2rem;
    padding: 0 0 1rem;
    border-bottom: 0.125rem solid rgba($white, 0.2);
  }
}

// page header styles

.page-header {

  .header-avatar {
    @include border-radius(6.25rem);
    width: 6.25rem;
    height: 6.25rem;
    overflow: hidden;
    margin: 0 auto;
    display: block;
  }

  .header-name {
    @include sans_bold;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.6;
    margin: 1rem 0 0;
    letter-spacing: 0.125rem;
  }

  .title-bar {
    .header-title {
      @include sans_light;
      font-size: 1rem;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
    }
    margin-bottom: 1rem;
  }

  .executive-summary {
    @include sans_bold;
    text-align: center;
    font-size: 1.25rem;
  }
}

.icon-links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  .icon-link-item {
    display: inline-block;
    margin: 0 0.25rem;
  }

  .icon-link {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    &:hover {
      box-shadow: inset 0 0 0 1px #fff;
      outline: 1px solid #fff;
      @include border-radius(2rem);
      &.icon path {
        fill: #fff;
        @include transition(all .2s ease);
      }
    }
  }

  .icon {
    height: 2rem;
    width: 2rem;
    path {
      fill: $white;
    }
  }
}

// resume content styles

.content-section {
  &:nth-child(even) {
    background: rgba($black, 0.2);
  }

  .resume-item {
    margin-bottom: 2rem;
    position: relative;
    &.has-thumbnail { display: flex; }
    &.is-timeline {
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 1rem;
        height: 1rem;
        border: 0.125rem solid rgba($white, 0.2);
        border-radius: 1rem;
        top: 0.385rem;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        width: 0;
        border-style: solid;
        border-color: rgba($white, 0.2);
        border-width: 0 0.0625rem;
        bottom: -2.375rem;
        top: 1.385rem;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      @include media_larger_than_mobile {
        padding-left: 16rem;
        &:before { // Timeline node
          left: 13.375rem;
        }
        &:after { // Timeline edge
          left: 13.8125rem;
        }
        .resume-item-details {
          position: absolute;
          top: 0;
          left: 0;
          margin: 0.1875rem 0 0;
          width: 12rem;
          text-align: right;
        }
      }
      @include media_mobile {
        padding-left: 2rem;
        &:before {
          left: 0;
        }
        &:after {
          left: 0.4375rem;
        }
      }
    }
    &:last-child {
      margin: 0;
    }

    .resume-item-title {
      @include sans_bold;
      margin: 0 0 .25rem;
      font-size: 1.25rem;
      &.subdued {
        @include sans_light;
      }
    }

    .resume-item-details {
      @include sans_light;
      letter-spacing: 0.125rem;
      margin: 0 0 .25rem;
    }

    .resume-item-description {
      margin: 0 0 0 0;
    }

    .resume-item-not-thumbnail {
      flex: 1 1 auto;
    }
    .resume-item-thumbnail {

      height: 6.875rem;
      min-width: 6.875rem;
      max-width: 6.875rem;
      overflow: hidden;
      border-radius: 0.25rem;
      display: flex;
      justify-content: center;
      margin-left: 2rem;
      @include media_mobile {
        height: 3.875rem;
        min-width: 3.875rem;
        max-width: 3.875rem;
        margin-left: 1.5rem;
      }
      img {
        display: block;
        height: 100%;
      }
    }
  }

}
