// Resume styles
// ---------------------------------------/

// util

.section-header {
  @include section_border;
  margin-bottom: 1.5rem;

  h2 {
    @include sans;
    font-weight: 900;
    font-size: 1.75rem;
    margin: 0;
  }
}

// page header styles

.page-header {

  .avatar {
    @include border-radius(6.25rem);
    width: 6.25rem;
    height: 6.25rem;
    overflow: hidden;
    border: 0.25rem solid $white;
    margin: 0 auto;
    display: block;
    background: $white;
  }

  .header-name {
    @include sans_bold;
    @include text_shadow;
    font-size: 2rem;
    text-align: center;
    line-height: 1.6;
    margin: 1rem 0 0;
    letter-spacing: 0.25rem;
  }

  .title-bar {
    .header-title {
      @include sans;
      @include text_shadow;
      font-weight: 300;
      font-size: 0.875rem;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
    }
    margin-bottom: 1rem;
  }

  .executive-summary {
    @include media_larger_than_mobile { font-size: 1.125rem; }
    @include text_shadow;
    text-align: center;
    a {
      color: $white;
      &:hover {
        color: #fff;
        @include transition(all .2s ease);
        text-decoration: none;
      }
    }
  }
}

.icon-links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  .icon-link-item {
    display: inline-block;
    margin: 0 0.25rem;
  }

  .icon-link {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    &:hover {
      box-shadow: inset 0 0 0 1px #fff;
      outline: 1px solid #fff;
      @include border-radius(2rem);
      &.icon path {
        fill: #fff;
        @include transition(all .2s ease);
      }
    }
  }

  .icon {
    height: 2rem;
    width: 2rem;
    path {
      fill: $white;
    }
  }
}

// resume content styles

.content-section {
  margin: 0 0 3rem;

  .resume-item { margin-bottom: 2rem; }

  .resume-item-title {
    @include sans_bold;
    margin: 0 0 .75rem;
    font-size: 1.5rem;
    line-height: 1;
  }

  .resume-item-details {
    font-size: 1.125rem;
    margin: 0 0 .75rem;
    line-height: 1;

    &.award-title {
      font-size: 1rem;
    }
  }

  .resume-item-title,
  .resume-item-details,
  .resume-item-copy,
  .resume-item-list {
    a {
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid;

      &:hover {
        border-bottom: none;
        color: #9c9c9c;
      }
    }
  }

  .resume-item-copy { margin: .75rem 0 0; }
}
