// util

.section-header {
  @include sans_light;
  margin-bottom: 3rem;
  
  h2 {
    font-size: 1.5rem;
    margin: 0;
  }

}

// page header styles

.page-header {

  .header-avatar {
    @include border-radius(6.25rem);
    width: 6.25rem;
    height: 6.25rem;
    overflow: hidden;
    display: block;
    margin: 0 0 2rem;
  }

  .header-name {
    @include sans_bold;
    font-size: 2.5rem;
    margin: 0;
  }

  .executive-summary {
    font-size: 1.25rem;
    margin: 0;
  }
}

.icon-links {
  margin: 0;
  padding: 0;
  list-style: none;

  .icon-link-item {
    display: inline-block;
    margin: 0 0.5rem 0 0;
  }

  .icon-link {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    &:hover {
      box-shadow: inset 0 0 0 1px #fff;
      outline: 1px solid #fff;
      @include border-radius(2rem);
      &.icon path {
        fill: #fff;
        @include transition(all .2s ease);
      }
    }
  }

  .icon {
    height: 2rem;
    width: 2rem;
    path {
      fill: $white;
    }
  }
}

// Profile content styles

.content-section {
  &:nth-child(even) {
    background: rgba($black, 0.2);
  }

  .profile-item {
    margin-bottom: 2rem;
    position: relative;
    &.has-thumbnail { display: flex; }
    &.is-timeline {
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 1rem;
        height: 1rem;
        border: 0.125rem solid rgba($white, 0.125);
        border-radius: 1rem;
        top: 0.625rem;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        width: 0;
        border-style: solid;
        border-color: rgba($white, 0.125);
        border-width: 0 0.0625rem;
        bottom: -2.625rem;
        top: 1.625rem;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      @include media_larger_than_mobile {
        padding-left: 14rem;
        &:before { // Timeline node
          left: 11.375rem;
        }
        &:after { // Timeline edge
          left: 11.8125rem;
        }
        .profile-item-details {
          position: absolute;
          top: 0;
          left: 0;
          width: 10rem;
          text-align: right;
        }
      }
      @include media_mobile {
        padding-left: 2rem;
        &:before {
          left: 0;
        }
        &:after {
          left: 0.4375rem;
        }
      }
    }
    &:last-child {
      margin: 0;
    }

    .profile-item-title {
      @include sans_bold;
      margin: 0;
      font-size: 1.125rem;
      &.subdued {
        @include sans_light;
      }
    }

    .profile-item-details {
      @include sans_light;
      letter-spacing: 0.125rem;
      margin: 0 0 .25rem;
      font-size: 0.75rem;
      text-transform: uppercase;
      line-height: 3;
    }

    .profile-item-description {
      margin: 0 0 0 0;
    }

    .profile-item-not-thumbnail {
      flex: 1 1 auto;
    }
    .profile-item-thumbnail {
      margin: 0.625rem 0;
      height: 6.875rem;
      min-width: 6.875rem;
      max-width: 6.875rem;
      overflow: hidden;
      border-radius: 0.25rem;
      display: flex;
      justify-content: center;
      margin-left: 2rem;
      @include media_mobile {
        height: 3.875rem;
        min-width: 3.875rem;
        max-width: 3.875rem;
        margin-left: 1.5rem;
      }
      img {
        display: block;
        height: 100%;
      }
    }
  }

  .about {
    @include border-radius(0.25rem);
    display: block;
    float: right;
    height: 20rem;
    margin: 0 0 2rem 2rem;
    rotate: 5deg;
    @include media_mobile {
      float: none;
      height: auto;
      width: 80vw;
      margin: 0 auto 2rem;
    }
  }

  .legal {
    font-size: 0.8rem;
    margin: 3rem 0 0;
  }

}
