// Variables
// ---------------------------------------/

$container-width: 60rem !default;
$grid-gutter:     1.25rem !default;

// Colors
$white:             rgba(255, 255, 255, 0.87);
$black:             #404040;

// Styles
$text_color:        $white;

// Font stack
$body-font: "Manrope", sans-serif !default;

// The base body size
$body-font-size: 1rem !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
