// Variables
// ---------------------------------------/

$container-width: 60rem !default;
$grid-gutter:     1.25rem !default;

// Colors

$canvas:              #FBF7F4;
$neutralDefault:      #2D1C10;
$neutralSubdued:	    rgba(45, 28 , 16, 0.63);
$primaryDefault:	    #74492A;
$primarySubdued:	    rgba(116, 73, 42, 0.81);

$canvasDark:          #2D1C10;
$neutralDefaultDark:  #F8F4F2;
$neutralSubduedDark:  rgba(248, 244, 242, 0.49);
$primaryDefaultDark:  #C9AC97;
$primarySubduedDark:  rgba(201, 172, 151, 0.71);

// Styles
$text_color:        $neutralDefault;

// Font stack
$body-font: "Manrope", sans-serif !default;

// The base body size
$body-font-size: 1rem !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
